body{
    display: flex;
    align-content: center;
    
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}
#clock{
    display: flex;
    justify-content: center;
    margin: auto;
   
}